body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
}

.collapsed .sidebar {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
}

.collapsed .sidebar ul {
  display: none; /* Hide the text when the sidebar is collapsed */
}

.collapsed .sidebar:hover {
  width: 65px;
}

.sidebar {
  width: 200px;
  background-color: #f7f9fc; /* Light background color */
  color: #333; /* Darker text color for contrast */
  transition: width 0.3s ease;
  padding: 20px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
  border-radius: 20px; /* Rounded corners for content area */
}

.toggle-btn {
  background: #28a745; /* Green background color */
  border: none;
  color: white;
  font-size: 20px; /* Slightly smaller font size */
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn:hover {
  background: #218838; /* Darker green on hover */
  transform: scale(1.1);
}

.icon {
  width: 24px;
  height: 24px;
}

.content {
  flex: 1;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff; /* White background color for content */
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
  border-radius: 20px; /* Rounded corners for content area */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  padding: 15px 20px;
  margin: 10px 0;
  background: #ffffff; /* White background for list items */
  border: 3px solid #e0e0e0; /* Light border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  align-items: center;
  font-weight: 450;
}

li span {
  flex: 1;
  transition: transform 0.3s ease;
}

li:hover {
  background: #f0f0f0; /* Light gray on hover */
  transform: translateX(5px); /* Translate smoothly rightwards on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

li:hover span {
  transform: translateX(5px); /* Text translates rightwards smoothly */
}

/* Remove default link styling */
.sidebar a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent (li) */
}

.sidebar a:hover {
  color: inherit; /* Ensure link color on hover matches parent (li) */
}
